/* ****************** */
/* From 1440px 1024px */
/* ****************** */
@media (max-width: 90em) {
  .subheading {
    font-size: 40px;
  }

  .tv-img {
    width: 70%;
  }

  .video {
    position: absolute;
    top: 58px;
    left: 63px;
    z-index: 1;
    width: 53%;
  }

  .feature-1 {
    gap: 0;
  }

  .ayan {
    width: 60%;
  }
}

/* ******************** */
/* From 1024px - 768px */
/* ******************** */
@media (max-width: 64em) {
  body {
    text-align: center;
  }

  .heading-primary {
    font-size: 40px;
  }

  .mb {
    font-size: 18px;
  }

  .video {
    left: 24%;
    top: 20%;
  }

  .subheading {
    font-size: 25px;
  }

  .footer {
    text-align: left;
    padding: 100px;
  }
}

/* ***************** */
/* From 768px - 432px */
/* ***************** */
@media (max-width: 48em) {
  .nav-bar {
    padding: 10px;
  }

  .logo {
    font-size: 30px;
  }

  .heading-primary {
    font-size: 35px;
  }

  .option {
    font-size: 17px;
  }

  .info {
    flex-direction: column;
  }

  .feature-1,
  .feature-3,
  .feature-4 {
    flex-direction: column;
    gap: 15px;
  }

  .subheading {
    font-size: 30px;
  }

  .feature-2 {
    flex-direction: column-reverse;
  }

  .download-preview {
    left: 25%;
  }

  .footer {
    padding: 10px;
  }

  .footer-links {
    grid-template-columns: 1fr 1fr;
    row-gap: 22px;
  }
}

/* ************* */
/* Below 432px */
/* ************* */
@media (max-width: 27em) {
  .download-preview {
    width: 206px;
    left: 10%;
  }

  .download-icon {
    margin-left: 25px;
    font-size: 20px;
  }

  .download-movie {
    height: 45px;
  }

  .feature-text {
  }

  .subheading {
    font-size: 25px;
  }
}
